<%= stylesheet_link_tag 'footer', media: 'all' %>
<footer>
  <div class="container text-center">
    <ul class="footer-links">
      <li><%= link_to 'Privacy Policy', root_path %></li>
      <li><%= link_to 'Terms of Service', root_path %></li>
    </ul>
    <p>&copy; <%= Date.today.year %> Coaching App</p>
  </div>
</footer>
